# 1. Ignora absolutamente todos os arquivos
*

# 2. Designora todos os diretórios (para o Git conseguir navegar pelas pastas)
!*/

# 3. Designora os arquivos na raiz que precisamos
!.gitignore
!start_server.bat
!playit-win-amd64.exe
!playit.toml
!palwordserver.exe
!palwordserver.pdb
!palwordserver.runtimeconfig.json
!palwordserver.deps.json
!palwordserver.dll

# 4. Designora todo o conteúdo de dentro da pasta Saved
!Pal/Saved/**

# 5. Volta a ignorar as pastas pesadas que não precisam ir para a nuvem
Pal/Saved/Logs/
Pal/Saved/CrashReport/